body {
    color: darkcyan;
    text-align: center;
}
.grenze-gotisch-leon {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
a:link {
 color: darkmagenta;
}
a:visited {
 color: blueviolet;
}
