body {
    color: rgb(50, 87, 255);
    text-align: center;
    background-color: rgb(10, 9, 12);
    background-image: url(https://tenor.com/pt-BR/view/gif-girl-anime-kiss-meow-gif-6705663810348500090);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.grenze-gotisch-leon {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
a:link {
 color: rgb(21, 0, 139);
}
a:visited {
 color: rgb(138, 222, 236);
}
.joia {
  width: 10px;
  height: 10px;
}
header {
  display: flex;
  gap: 10px;
  text-align: center;
}