body {
    color: rgb(50, 87, 255);
    text-align: center;
    background-color: rgb(2, 4, 29);
    background-image: url(https://media.tenor.com/XQ9NtRcDxHoAAAAi/gif-girl.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 200px;
	  padding-right: 200px;
}
.grenze-gotisch-leon {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
a:link {
 color: rgb(21, 0, 139);
}
a:visited {
 color: rgb(138, 222, 236);
}
.billie {
  width: 200px;
  height: 200px;
}
.joia {
  width: 120px;
  height: 100px;
}
header {
  display: flex;
  gap: 10px;
  text-align: center;
  background-color: rgb(27, 28, 44);
  margin: 50px;
}
h1 {
  margin-left: 20px;
}
.bloco1 {
  background-color: rgb(27, 28, 44);
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}
.apre {
  text-align: right;
  margin-right: 20px;
}
.redes {
  flex-direction: column;
}
.sobre {
  margin-left: 20px;
}
.ig {
  background-color: rgb(27, 28, 44);
  font-size: 20px;
  margin-left: 300px;
  margin-right: 330px;
}